body {
    background: url(./tokyo2.jpg) no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

nav {
    background-color: aquamarine;
    margin: 0;
    padding: 2em;
    width: 100vw;
    display: inline-flex;
}

h1 {
    font-size: 2em;
    color: hotpink;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
    font-size: 3em;
    color: hotpink;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h3 {
    font-size: 2em;
    color: purple;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h4 {
    font-size: 1.3em;
    color: blue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
    font-size: 1.3em;
}

.overlay {
    background-color: rgba(255, 255, 255, .9);
    padding: 2em;
    border-radius: 21px;
    margin: 2em;
}

.purple-line {
    border: 1px solid purple;
}

nav button {
    padding: 1px 3px;
    margin: 7px;
}

button {
    padding: 7px;
    border-radius: 12px;
    background-color: aquamarine;
    font-size: 1rem;
    border: hotpink 2px solid;
}

button:hover {
    background-color: hotpink;

}

aside ul,
nav ul {
    list-style: none;
}

aside li {
    display: flex;
}

aside .social {
    background-color: hotpink;
    padding: 7px;
    display: inline-flex;
    align-content: center;
}

aside .social:hover {
    background-color: aquamarine;

}

a:link {
    color: #fff;
    margin: 7px;
    float: left;
}

.container {
    display: inline-flex;
    height: calc(81vh - 25px);

}

.right-nav {
    display: inline-flex;
    align-items: flex-end;
    position: fixed;
    right: 2em;
}

.center-nav {
    display: inline-flex;
    align-items: center;
    width: 55vw;
    margin: 0 auto;
}

.center-nav li {
    padding: 7px;
    margin: 12px;
}

.center-nav a:link,
.center-nav a:visited {
    color: #222;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    border-bottom: 3px solid hotpink;
    border-top: 3px solid aquamarine;

}

.center-nav a:hover,
.center-nav a:active {
    border-bottom: 3px solid aquamarine;
    border-top: 3px solid hotpink;
}

.center-nav a.current {
    border-bottom: 3px solid hotpink;
    border-top: 3px solid hotpink;
}

.search {
    border-radius: 21px;
    padding: 2px;
    background-color: #fff;
}

input {
    border: none;
    padding: 3px;
    width: 15vw;
}

.team {
    display: inline-block;
    text-align: center;
    align-items: center;
}

.overlay-home {
    background-color: rgba(255, 255, 255, .9);
    padding: 2em;
    border-radius: 21px;
    width: 45vw;
    margin: 4em;
    height: 40%;
}

form {
    display: grid;
    grid-row-gap: 1em;
}

.searchTravel {
    padding: 2em;

}

.grid {
    display: grid;
    height: auto;
    width: 200px;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    grid-auto-flow: row dense;
}

.recommendation {
    background-color: rgba(255, 255, 255, .9);
    padding: 2em;
    border-radius: 21px;
    width: 19vw;
    margin: 1em;
}

.recommendation img {
    max-width: 250px;
}

footer {
    height: 25px;
    background-color: #222;
    color: #ccc;
    padding: 7px;
}